.nav-item {
    color: #000!important;
}

.breadcrumb {
    margin: 0;
    display: flex;
    align-items: center;
}

.breadcrumb svg {
    margin-right: 5px;
}

.breadcrumbs {
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.user a, 
.logout {
    display: flex;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    align-items: center;
}

.user svg,
.logout svg {
    margin-right: 5px;
}